.delete-dialog-icon {
  float: left;
  margin-top: -7px;
  font-size: 22px;
}

.delete-dialog-icon {
    position: absolute;
    left: 4px;
    bottom: -19px;
}

.date {
  font-size: 12px;
  margin: 8px 0;
}
.name {
  font-size: 16px;
}

.ion-cart {
  border-radius: 0px;
   background-color: white;
  height: 135px;
  --background: #fff;
}
.counter {
  top: 0;
  rihgt: 0;
}