<!--<ion-header>-->
  <!--<ion-toolbar>-->
    <!--<ion-title>{{title}}</ion-title>-->
  <!--</ion-toolbar>-->
<!--</ion-header>-->

<!--<ion-content>-->

  <!--<ul *ngFor="let a of choices">-->
    <!--<input type="radio" name="asd" [checked]="choseNow == a.label" (click)="choose(a)" > {{a.label}}-->
  <!--</ul>-->

<!--</ion-content>-->
<ion-header>

  <ion-toolbar class="toolbar-color">
    <ion-title>{{title}}</ion-title>
    <ion-buttons>
      <ion-button (click)="close()" side="end">סגור</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-searchbar *ngIf="search" data-placeholder="חיפוש" (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>

<ion-content>

    <div *ngFor="let item of options ; let i = index" [attr.data-index]="i">
      <div class="border-top" (click)="getItem(item)">
        {{item.label}}
      </div>
    </div>


  <ion-infinite-scroll #scroll threshold="100px">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>