<!--
  Generated template for the ChangePassword page.
  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border no-padding>
  <ion-toolbar class="ToolbarVerde" no-padding>
    <ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>

    <div class="ion-item" [ngClass]="{'border-red': oldPassword}" >
      <ion-input type="password"  (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()" [(ngModel)]="form.oldPassword.value" placeholder="{{ form.oldPassword.label }}"></ion-input>
    </div>
    <div class="err">{{ oldPassword }}</div>

    <div class="ion-item" no-lines [ngClass]="{'border-red': first_pass}">
      <ion-input type="password"  (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()" [(ngModel)]="form.password.first.value" placeholder="{{ form.password.first.label }}"></ion-input>
    </div>
    <div class="err">{{ first_pass }}</div>

    <div class="ion-item" [ngClass]="{'border-red': second_pass}" >
      <ion-input type="password"  (ionFocus)="onOpenKeyboard()" (ionBlur)="onCloseKeyboard()"  [(ngModel)]="form.password.second.value" placeholder="{{ form.password.second.label }}"></ion-input>
    </div>
    <div class="err">{{ second_pass }}</div>



  <div padding>
    <ion-button  color="danger"  size="small"  (click)="formSubmit(form)" expand="block" >{{form.submit}}</ion-button>
  </div>


</ion-content>